:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsla(211, 45%, 89%, 1);
    --DarkNavy: hsla(217, 44%, 22%, 1);
    --DarkBlue: hsla(216, 95%, 58%, 1);
    --Gray: hsla(219, 15%, 55%, 1);
    --fuente: 'Outfit', normal;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.mainContainer{
  width:100%;
  height: 100vh;
  background-color: var(--LightGray);
}

.container{
  display: flex;
  padding-top: 15.6rem;
}

.qrBox{
  background-color: var(--White);
  width: 28.8rem;
  /*min-height: 100vh;
display: grid;
place-items: center;*/
  border-radius:1.8rem;
  margin: 0 auto;
  padding: 1.44rem;
}
  .qrBox__container{
    display: flex;
    justify-content: center;
    border-radius: 0.9rem;
    background-color: var(--DarkBlue);
    padding: 5.76rem;
  }

  .qrBox__image{
    width: 14.4rem;
    height: 14.4rem;
  }

  .qrBox__text{
    font-family: var(--fuente);
    text-align: center;
    font-style: normal;
    margin: 0.45rem;
    text-align: center;
  }

  .container__title{
    font-weight: 700;
    font-size: 1.98rem;
    line-height: 2.52rem;
    color: var(--DarkNavy);
    padding: 0.45rem;

  }
  .container__text{
    font-weight: 400;
    font-size: 1.35rem;
    line-height: 1.71rem;
    letter-spacing: 0.016875rem;
    color: var(--Gray);
    width: 90%;
    display: inline-flex;
  }

.attribution {
    font-family: var(--fuente);
    font-size: 0.99rem;
    text-align: center;
    margin-top: 2.25rem;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }