:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsla(211, 45%, 89%, 1);
    --DarkNavy: hsla(217, 44%, 22%, 1);
    --DarkBlue: hsla(216, 95%, 58%, 1);
    --Gray: hsla(219, 15%, 55%, 1);
    --fuente: 'Outfit', normal;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    line-height: 1.5;
}
p {
    font-size: 0.9375rem;
}
img {
    max-width: 100%;
}

.mainContainer{
  width:100%;
  height: 100vh;
  background-color: var(--LightGray);
}

.container{
  display: flex;
  padding-top: 8.25rem;
}

.qrBox{
  background-color: var(--White);
  width: 20rem;
  /*min-height: 100vh;
display: grid;
place-items: center;*/

  border-radius: 1.25rem;
  margin: 0 auto;
  padding: 1rem;
}
  .qrBox__container{
    display: flex;
    justify-content: center;
    border-radius: 0.625rem;
    background-color: var(--DarkBlue);
    padding: 4rem;
  }

  .qrBox__image{
    width:10rem;
    height:10rem;
  }

  .qrBox__text{
    font-family: var(--fuente);
    text-align: center;
    font-style: normal;
    margin:5px;
    text-align: center;
  }

  .container__title{
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.75rem;
    color: var(--DarkNavy);
    padding:0.3125rem;

  }
  .container__text{
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    letter-spacing: 0.01171875rem;
    color: var(--Gray);
    width: 90%;
    display: inline-flex;
  }

.attribution {
    font-family: var(--fuente);
    font-size: 0.6875rem;
    text-align: center;
    margin-top: 1.5625rem;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }